@charset "utf-8";
/* CSS Document */

/******************************/
/*******common css*************/


/******* fonts *********/
@import url('../fonts/stylesheet_lato.css');
@import url('../fonts/stylesheet_sony.css');
/******* fonts *********/
html{
    /*cursor: none;*/
    /*overflow-x: hidden !important;*/
}

body{
    font-family: 'Lato' !important;
    background-color: #272727;
    overflow-x: hidden;
}

ul{
    color: #ffffff;
}


body p{
    color: #ffffff;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #14f78d #272727;
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0px #14f78d;
    border-radius: 0px;
}

::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: #14f78d;
    -webkit-box-shadow: inset 0 0 1px #14f78d;
}


:focus { outline: thin dotted; outline: 0px auto -webkit-focus-ring-color; outline-offset: 0px !important; }
button:focus { outline: thin dotted; outline: 0px auto -webkit-focus-ring-color; outline-offset: 0px !important; }

/* Remove inner shadow from inputs on mobile iOS */
textarea, input[type="text"] {
-webkit-appearance: none;
}

textarea, input[type="password"] { -webkit-appearance: none; }

select.form-control {
  -webkit-appearance: none;
  background: url(../images/down-arrow.png) no-repeat center right;
}


.zoom{

   transform: scale(1.07);
}


.margin_auto{
    margin-right: auto;
    margin-left: auto;
}

.no_padding{
    padding-right: 0px;
    padding-left: 0px;
}

.no_padd_left{
    padding-left: 0px;
}

/*p {
    font-size: .7vw;
    line-height: 1.5vw;
    font-weight: 200;
}*/

p{
    font-size: 13px;
    line-height: 23px;
    font-weight: 400;
    color: #303030;
}

a{
    text-decoration: none !important;
}

a:focus {
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}

.fa {
    padding: 10px;
    font-size: 20px;
    width: 35px;
    text-align: center;
    text-decoration: none;
    margin: 2px 0px;
    border-radius: 5px;
    background-color: #818285;
    color: #ffffff;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.fa:hover{
   background-color: #14f78d; 
   color: #000000 !important;
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: white;
            opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: white;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
            color: white;
 }
 
 
 /*====================*/
#complain_button_form {
    position: fixed;
    z-index: 8000;
    top: 365px;
    margin-top: -100px;
    right: 0;
    background-color: #FFFFFF;
    padding: 10px 20px;
    width: 50px;
    overflow: hidden;
    height: 50px;
    -webkit-transition: width .55s ease;
    -moz-transition: width .55s ease;
    -ms-transition: width .55s ease;
    -o-transition: width .55s ease;
    transition: width .55s ease;
    -webkit-box-shadow: 0px 0px 32px -2px rgba(0,0,0,0.42);
    -moz-box-shadow: 0px 0px 32px -2px rgba(0,0,0,0.42);
    box-shadow: 0px 0px 32px -2px rgba(0,0,0,0.42);
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
}

.complain_button_search {
    position: absolute;
    top: 15%;
    background-image: url(../images/complain_contact_wrapper.png);
    background-repeat: no-repeat;
    height: 35px;
    left: 10px;
}


.complain_wrapper {
    margin-left: 45px;
    font-size: 18px;
    color: #2a3476;
    padding-top: 5px;
}

.complain_wrapper a {
    color: #2a3476;
    text-decoration: none;
    font-size: 14px;
}

.complain_wrapper:before {
    content: unset;
}

/*#complain_button_form:hover {
    width: 222px;
}*/

#complain_button_form:hover form input {
    width: 222px;
}

#complain_button_form form input:focus,
#complain_button_form form input:active{
    outline:none;
    width: 300px;
}

/*====================*/

/*******common css*************/
/******************************/




/*****************************/
/*********header**************/

video {
    position: relative;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.carousel, .item, .active {
    height: auto !important;
}

.quote_btn {
    width: 160px;
    position: fixed;
    right: 120px;
    top: 20px;
    padding: 13px;
    border-radius: 5px;
    z-index: 999;
    color: #ffffff;
    background-color: #283897;
    font-weight: 400;
    text-align: center;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.quote_btn:hover{
    background-color: #00a64e; 
    color: #ffffff;
}

.quote_btn img{
    width: 25px;
}

.search_btn {
    width: 60px;
    position: fixed;
    right: 288px;
    top: 20px;
    padding: 13px;
    border-radius: 5px;
    z-index: 999;
    color: #ffffff;
    background-color: #ffffff;
    font-weight: 400;
    text-align: center;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    cursor: pointer;
}

.search_btn:hover{
    background-color: #14f78d; 
    color: #000000;
}

.search_btn img{
    width: 25px;
}

.home_blue_shape_section{
    position: absolute;
    top: 0px;
    width: 700px;
    height: 100%;
    background-image:url('../images/blue_shape.png');
    background-repeat:no-repeat;
    background-size:contain;
    background-position:left center;
    z-index: 99;
}

.home_green_shape_section{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 700px;
    height: 100%;
    background-image:url('../images/green_arrow.png');
    background-repeat:no-repeat;
    background-size:contain;
    background-position:right center;
    z-index: 99;
}

.top_logo{
    width: 130px;
    padding-left: 20px;
    padding-top: 20px;
}

.top_logo_2 {
    width: 160px;
    padding-left: 20px;
    padding-top: 20px;
}

.home_top_contact_div{
    position: absolute;
    bottom: 50px;
    padding-left: 20px;
}

.home_top_contact_div p{
    font-size: 14px;
    color: #ffffff;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.home_top_contact_div a{
    color: #ffffff;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.home_top_contact_div a:hover{
    color: #14f78d;
}



/*****************************/
/*********header**************/





/*****************************/
/*********menu**************/


/*****************************/
/*********menu**************/





/*****************************/
/*********body**************/

.heading{
    font-size: 35px;
    font-family: 'Sony Sketch EF' !important;
    color: #14f78d;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.sub_heading{
    font-size: 20px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 15px;
}


.home_about_img {
    width: 726px;
    position: relative;
    margin-top: -48px;
    z-index: 99;
}

.home_about_text_col {
    padding-left: 195px;
    position: absolute;
    margin-top: -400px;
}

.profile_btn_div{
    text-align: right;
    margin-top: 30px;
}

.spec_btn {background-image: linear-gradient(to right, #00c183 0%, #006185  51%, #00c183  100%)}
.spec_btn {
    font-size: 12px;
    padding: 15px 25px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    border-radius: 5px;
    /*display: block;*/
}

.spec_btn:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.product_section{
    background-image:url('../images/product_bg.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:left center;
    padding-top: 40px;
    padding-bottom: 40px;
}


.product_div{
    border-radius: 5px;
    margin-bottom: 15px;
    border: 1px solid #14f78d;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    background-color: #000000;
}

.product_div_text {
    position: relative;
    margin-top: -72px;
}

.product_div .button{
    margin-top: 0px;
    margin-left: 25px;
    opacity: 0;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.product_div:hover .button{
    margin-top: 0px;
    margin-left: 20px;
    opacity: 1;
}

.product_div:hover .button .link {
  padding-left: 50px;
}
.product_div:hover .button .link:before {
  left: 17px;
  transform: rotate(90deg);
}
.product_div:hover .button .link:after {
  transform: translate(-33px) rotate(45deg);
}

.product_div_text p{
    font-size: 20px;
    font-weight: 900;
    color: #ffffff;
    padding-left: 25px;
    text-transform: uppercase;
    transition-duration: 0.2s;
    z-index: 9999;
    margin-bottom: 0px;
}

.product_div:hover .product_div_text p{
    top: -150px;
    transition-duration: 0.2s;
}

.product_div:hover{
    border: 1px solid #f9f300;
}

.bg_product_div_1{
    height: 400px;
}

.bg_product_div_2{
    height: 230px;
}
.bg_product_div_3{
    height: 230px;
}

.bg_product_div_4{
    height: 300px;
}

.bg_product_div_5{
    height: 200px;
}

.product_devicec_div{
    margin-top: 60px;
}

.product_div_1{
    opacity: 0.6;
    width: 100%;
    height: 398px;
    background-image:url('../images/product_1.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center center;
    transition:all 0.5s ;
  -webkit-transition:all 0.5s ;
  -o-transition:all 0.5s ;
  -moz-transition:all 0.5s ;
}

.product_div:hover .product_div_1{
    opacity: 0.3;
}

.product_div_2{
    opacity: 0.6;
    width: 100%;
    height: 230px;
    background-image:url('../images/product_2.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center center;
        transition:all 0.5s ;
  -webkit-transition:all 0.5s ;
  -o-transition:all 0.5s ;
  -moz-transition:all 0.5s ;
}

.product_div:hover .product_div_2{
    opacity: 0.3;
}

.product_div_3{
    opacity: 0.6;
    width: 100%;
    height: 230px;
    background-image:url('../images/product_3.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center center;
        transition:all 0.5s ;
  -webkit-transition:all 0.5s ;
  -o-transition:all 0.5s ;
  -moz-transition:all 0.5s ;
}

.product_div:hover .product_div_3{
    opacity: 0.3;
}

.product_div_4{
    opacity: 0.6;
    width: 100%;
    height: 300px;
    background-image:url('../images/product_4.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center center;
        transition:all 0.5s ;
  -webkit-transition:all 0.5s ;
  -o-transition:all 0.5s ;
  -moz-transition:all 0.5s ;
}

.product_div:hover .product_div_4{
    opacity: 0.3;
}

.product_div_5{
    opacity: 0.6;
    width: 100%;
    height: 200px;
    background-image:url('../images/product_4.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center center;
        transition:all 0.5s ;
  -webkit-transition:all 0.5s ;
  -o-transition:all 0.5s ;
  -moz-transition:all 0.5s ;
}

.product_div:hover .product_div_5{
    opacity: 0.3;
}

.award_section{
    background-image:url('../images/award_bg.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center center;
    /*padding-top: 40px;
    padding-bottom: 40px;*/
        transition:all 0.5s ;
  -webkit-transition:all 0.5s ;
  -o-transition:all 0.5s ;
  -moz-transition:all 0.5s ;
}

.product_item{
    padding: 15px;
    background-color: #ffffff;
    border-radius: 5px;
    min-height: 220px;
    border: 1px solid #ffffff;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.product_item:hover{
    border: 1px solid #f9f300;
}

.product_item:hover p{
    color: #07a74f;
}

.product_item p{
    color: #000000;
    font-size: 14px;
    margin-bottom: 0px;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.product_img_div img{
    transition: transform .2s;
}

.product_item:hover img {
  transform: scale(1.1); 
}

.product_img_div img{
    transition: transform .2s;
}

.award_item:hover img {
  transform: scale(1.1); 
}

.award_text_section{
    margin-top: 200px;
    margin-bottom: 100px;
    background-color: #998675;
    background-image:url('../images/shape_bg.png');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center center;
    padding-top: 130px;
    padding-bottom: 40px;
}

.award_item_section{
    position: relative;
    margin-top: -630px;
}

.award_item{
    padding: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    margin-bottom: 10px;
    min-height: 220px;
    border: 1px solid #ffffff;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.award_item:hover{
    border: 1px solid #f9f300;
}

.award_item p{
    color: #000000;
    font-size: 13px;
    line-height: 18px;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    margin-top: 10px;
}

.award_item:hover p{
    color: #07a74f;
}

.award_item img{
    width: 100px;
}

.award_item_col{
    padding-left: 5px;
    padding-right: 5px;
}

.award_item_col_1{
    margin-top: 110px;
}

.award_item_col_3{
    margin-top: 150px;
}

.award_item_col_4{
    margin-top: 210px;
}

.f_project_row{
    background-color: #f2f2f2;
    padding-top: 30px;
    padding-bottom: 30px;
    min-height: 470px;
}

.sl-wrapper, .swiper-container {
    width: 97%!important;
    position: absolute!important;
    right: 0!important;
}

.f_project_slider_col{
    padding-right: 0px;
}

.main_news_div{
    background-color: #ffffff;
    border-radius: 5px;
    padding: 10px 25px;
    position: relative;
    z-index: 999;
}

.main_news_div h1{
    color: #283897;
    font-size: 25px;
}

.main_news_slider_col{
    position: absolute;
    border-radius: 5px;
}

.sub_news_col{
    margin-right: 0px;
    margin-left: 30px;
    padding-right: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ffffff;
    margin-bottom: 30px;
}

.sub_news_col h1{
    color: #14f78d;
    font-size: 20px;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.sub_news_col:hover h1{
    color: #ffffff;
}

.sub_news_col p{
    color: #efefef;
}

.sub_news_col_btn{
    margin-right: 30px;
    margin-left: 30px;
}

.sub_news_arrow{
    position: relative;
    right: -40px;
    bottom: 65px;
}

.club_section{
    background-image:url('../images/club_bg.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.club_intro_div{
    text-align: right;
    padding: 79px 30px;
    padding-right: 150px;
    background-color: #ffffff;
    border-radius: 5px;
    margin-top: 60px;
}

.club_elec_img {
    position: absolute;
    right: -115px;
    top: -56px;
}

.project_des_div h1{
    color: #283897;
    font-size: 20px;
}

.project_des_div p{
    color: #000000;
}

.project_des_col{
    margin-top: 100px;
}

.hover-underline-animation {
    position: relative;
    color: #e31c3d;
  }
  
  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -1px;
    left: 0;
    background-color: #14f78d;
    transform-origin: bottom right;
    transition: transform 0.45s ease-out;
  }
  
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }



/*****************************/
/*********body**************/


/*========inner pages==========*/

.iner_nav_bar{
    width: 100% !important;
}

.inner_top_blue_section{
    position: absolute;
    z-index: 99999;
    height: 300px;
    /*background-color: #000a44;*/
    background-image:url('../images/inner_top_shape.png');
    background-repeat:no-repeat;
    background-size:contain;
    background-position:left center;
}

.inner_top_bg_section{
    height: 300px;
    background-color: #000a44;
    background-image:url('../images/inner_top_bg.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:left center;
}

.inner_page_heading_section{
    position: absolute;
    bottom: 10px;
    left: 40px;
}

/* Style the list */
ul.breadcrumb {
  padding: 0px 0px;
  list-style: none;
  background-color: transparent;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 10px;
}

ul.breadcrumb li a {
  color: #ffffff !important;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 1px;
  color: black;
  content: "|\00a0";
  color: #ffffff;
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

.inner_page_heading{
    line-height: 25px;
    font-size: 30px;
    font-family: 'Sony Sketch EF' !important;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-weight: 300;
}

.company_section{
    padding-top: 50px;
    padding-bottom: 50px;
   background-image:url('../images/company_bg.png');
    background-repeat:no-repeat;
    background-size:contain;
    background-position:left center; 
}

.customer_section{
    padding-top: 50px;
    padding-bottom: 50px;
   background-image:url('../images/cus_bg.png');
    background-repeat:no-repeat;
    background-size:contain;
    background-position:left center; 
}

.inner_award_section{
    background-image:url('../images/inner_award_bg.png');
    background-repeat:no-repeat;
    background-size:contain;
    background-position:right center; 
    background-attachment: fixed;
}

.white_bg_img_div{
    background-color: #e1e1e1;
    background-image:url('../images/white_bg_shape.png');
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center center; 
    border-radius: 5px;
}

.award_img_div{
    padding-top: 15px;
    padding-bottom: 15px;
}

.award_img_div img{
    width: 150px;
}

.award_text_div{
    margin-right: 0px;
    margin-left: 20px;
    padding-right: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ffffff;
    margin-bottom: 30px;
}

.award_text_div h1{
    color: #14f78d;
    font-size: 20px;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.award_text_div:hover h1{
    color: #ffffff;
}

.award_text_div p{
    color: #efefef;
}

.cus_row img{
    border-radius: 5px;
    border: 1px solid #14f78d;
}

.cus_row h1{
    padding-top: 50px;
    color: #ffffff;
    font-size: 20px;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.detail_image_col{
    padding-left: 0px;
}

.detail_image_col img{
    float: left;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: -15px;
}

.detail_page_con .heading{
    font-family: 'Arimo' !important;
    text-transform: capitalize;
    margin-top: 0px;
    font-size: 30px;
}

.sub_news_img_div{
    margin-right: 30px;
}

.sub_news_img_div img{
    border-radius: 5px;
}

.sub_news_text_div{
    position: relative;
    margin-left: 30px;
    margin-top: -25px;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ffffff;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.sub_news_text_div:hover{
    border: 1px solid #f9f300;
}

.sub_news_text_div:hover p{
    color: #07a74f;
}

.sub_news_text_div h1{
    color: #283897;
    margin-top: 0px;
    font-size: 20px;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.sub_news_text_div p{
    color: #000000;
}

.inner_sub_news_section .button{
    padding: 0px !important;
}

.inner_sub_news_section{
    padding-right: 25px;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.inner_sub_news_section:hover p{
    color: #07a74f;
}

.inner_sub_news_section:hover .button .link {
  padding-left: 50px;
}
.inner_sub_news_section:hover .button .link:before {
  left: 17px;
  transform: rotate(90deg);
}
.inner_sub_news_section:hover .button .link:after {
  transform: translate(-33px) rotate(45deg);
}

.report_div{
    margin-right: 0px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ffffff;
    margin-bottom: 30px;
}

.report_div h1{
    color: #14f78d;
    font-size: 20px;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.report_div:hover h1{
    color: #ffffff;
}

.report_img_div{
    padding: 50px;
}

.bod_col{
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 40px;
}

.bro_section .button{
    padding: 0px !important;
}

.bro_section{
    margin-bottom: 30px;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.bro_section:hover p{
    color: #07a74f;
}

.bro_section:hover .button .link {
  padding-left: 50px;
}
.bro_section:hover .button .link:before {
  left: 17px;
  transform: rotate(90deg);
}
.bro_section:hover .button .link:after {
  transform: translate(-33px) rotate(45deg);
}

.bro_text_div{
    position: relative;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 0px 0px 5px 5px;;
    border: 1px solid #ffffff;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.bro_text_div:hover{
    border: 1px solid #f9f300;
}

.bro_text_div:hover p{
    color: #07a74f;
}

.bro_text_div h1{
    color: #283897;
    margin-top: 0px;
    font-size: 20px;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.career_section{
    padding-top: 50px;
    padding-bottom: 50px;
   background-image:url('../images/career_bg.png');
    background-repeat:no-repeat;
    background-size:contain;
    background-position:left center; 
}

.form-control {
    background-color:transparent;
    display: block;
    width: 100%;
    height: 50px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #ffffff;
    background-image: none;
    border: 1px solid #ffffff;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

input[type=file] {
    display: block;
    color: #ffffff;
}

.project_col h1{
    color: #14f78d;
    font-size: 20px;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.project_col:hover h1{
    color: #ffffff;
}

.project_col p{
    color: #efefef;
}

.project_img_div{
    margin-top: 40px;
    margin-bottom: 10px;
    background-image:url('../images/img_shape_bg.png');
    background-repeat:no-repeat;
    background-size:contain;
    background-position:left center;
}

.project_img_div img{
    position: relative;
    top: -25px;
    border-radius: 5px;
    padding-left: 25px;
}

.project_col{
    margin-bottom: 30px;
}

.project_col:hover .button .link {
  padding-left: 50px;
}
.project_col:hover .button .link:before {
  left: 17px;
  transform: rotate(90deg);
}
.project_col:hover .button .link:after {
  transform: translate(-33px) rotate(45deg);
}

.contact_section{
    padding-top: 50px;
    padding-bottom: 50px;
   background-image:url('../images/contact_bg_2.png');
    background-repeat:no-repeat;
    background-size:contain;
    background-position:left center; 
}

select option {
  background-color: #272727;
}

.csr_col{
    margin-bottom: 40px;
}

.pagination>li:first-child>a, .pagination>li:first-child>span {
    margin-left: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pagination>li:last-child>a, .pagination>li:last-child>span {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.pagination>li>a, .pagination>li>span {
    position: relative;
    float: none;
    font-weight: 600;
    padding: 12px 20px;
    margin-left: 2px;
    line-height: 1.42857143;
    color: #ffffff;
    border-radius: 5px;
    text-decoration: none;
    background-color: #000a44;
    border: 1px solid #000a44;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #07a751;
    border-color: #07a751;
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    z-index: 3;
    color: #fff;
    background-color: #07a751;
    border-color: #07a751;
}

.distri_main_div{
    margin-bottom: 30px;
}

.distri_row{
    padding: 20px;
}

.distri_row p{
    color: #000000;
    margin-bottom: 0px;
}

.distri_row h1{
    font-size: 20px;
    font-weight: 900;
    color: #263a94 !important;
    text-transform: uppercase;
}

.inner_sub_news_col{
    margin-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ffffff;
    margin-bottom: 30px;
}

.inner_sub_news_col img{
    border-radius: 5px;
}

.inner_sub_news_col h1{
    color: #14f78d;
    font-size: 20px;
    margin-top: 0px;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.inner_sub_news_col:hover h1{
    color: #ffffff;
}

.inner_sub_news_col:hover .button .link {
  padding-left: 50px;
}
.inner_sub_news_col:hover .button .link:before {
  left: 17px;
  transform: rotate(90deg);
}
.inner_sub_news_col:hover .button .link:after {
  transform: translate(-33px) rotate(45deg);
}

.main_news_div:hover .button .link {
  padding-left: 50px;
}
.main_news_div:hover .button .link:before {
  left: 17px;
  transform: rotate(90deg);
}
.main_news_div:hover .button .link:after {
  transform: translate(-33px) rotate(45deg);
}

/*===============*/
.inner_product_div_1{
    opacity: 0.6;
    width: 100%;
    height: 340px;
    background-image:url('../images/product_1.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center center;
    transition:all 0.5s ;
  -webkit-transition:all 0.5s ;
  -o-transition:all 0.5s ;
  -moz-transition:all 0.5s ;
}

.product_div:hover .inner_product_div_1{
    opacity: 0.3;
}

.inner_product_div_2{
    opacity: 0.6;
    width: 100%;
    height: 298px;
    background-image:url('../images/product_2.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center center;
        transition:all 0.5s ;
  -webkit-transition:all 0.5s ;
  -o-transition:all 0.5s ;
  -moz-transition:all 0.5s ;
}

.product_div:hover .inner_product_div_2{
    opacity: 0.3;
}

.inner_product_div_3{
    opacity: 0.6;
    width: 100%;
    height: 250px;
    background-image:url('../images/product_3.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center center;
        transition:all 0.5s ;
  -webkit-transition:all 0.5s ;
  -o-transition:all 0.5s ;
  -moz-transition:all 0.5s ;
}

.product_div:hover .inner_product_div_3{
    opacity: 0.3;
}

.inner_product_div_4{
    opacity: 0.6;
    width: 100%;
    height: 250px;
    background-image:url('../images/product_4.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center center;
        transition:all 0.5s ;
  -webkit-transition:all 0.5s ;
  -o-transition:all 0.5s ;
  -moz-transition:all 0.5s ;
}

.product_div:hover .inner_product_div_4{
    opacity: 0.3;
}

.inner_product_devicec_div{
    margin-top: 20px;
}

/*===============*/

.p_l_div{
    margin-right: 0px;
    margin-bottom: 30px;
}

.p_l_div p{
    font-weight: 700;
    color: #263a94;
    margin-top: 0px;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.p_l_div_img_div{
    padding: 20px 20px;
}

.p_l_div_img_div img{
    transition: transform .2s;
}

.p_l_div_img_div:hover img {
  transform: scale(1.1); 
}

.p_l_div_img_div img{
    transition: transform .2s;
}

.slider_project_col{
    padding-left: 20px;
    padding-right: 20px;
}

.testi_div{
    border-left: 1px solid #14f78d;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 20px;
}

.testi_carousel_indicators {
    position: relative;
    margin-top: 60px;
    left: 0%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: 0%;
    text-align: left;
    list-style: none;
}

.testi_carousel_indicators li {
    display: inline-block;
    width: 30px;
    height: 2px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000\9;
    background-color: rgba(0,0,0,0);
    border: 1px solid #999999;
    border-radius: 0px;
}

.testi_carousel_indicators .active {
    width: 30px;
    height: 5px;
    margin: 0;
    background-color: #4060ac;
}

.quality_section{
    padding-top: 50px;
    padding-bottom: 50px;
   background-image:url('../images/quality_bg.png');
    background-repeat:no-repeat;
    background-size:contain;
    background-position:left center; 
}

.custom_ul{
    color: #ffffff;
    list-style-image: url('../images/li.png');
}

.custom_ul li{
    padding-bottom: 10px;
}

.scope_row{
    background-image:url('../images/scope_row_bg.png');
    background-repeat:no-repeat;
    background-size:contain;
    background-position:left bottom; 
}

.tech_info_section{
    padding-top: 50px;
    padding-bottom: 50px;
   background-image:url('../images/tech_info_bg.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:left center; 
}

.indus_row{
    background-image:url('../images/tech_info2.png');
    background-repeat:no-repeat;
    background-size:contain;
    background-position:right center; 
}

.inner_product_div{
    border-radius: 5px;
    margin-bottom: 15px;
    border: 1px solid #14f78d;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    background-color: #000000;
}

.product_div_text {
    position: relative;
    margin-top: -72px;
}

.inner_product_div .button{
    margin-top: 0px;
    margin-left: 25px;
    opacity: 0;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.inner_product_div:hover .button{
    margin-top: 0px;
    margin-left: 20px;
    opacity: 1;
}

.inner_product_div:hover .button .link {
  padding-left: 50px;
}
.inner_product_div:hover .button .link:before {
  left: 17px;
  transform: rotate(90deg);
}
.inner_product_div:hover .button .link:after {
  transform: translate(-33px) rotate(45deg);
}

.inner_bg_product_div_1{
    height: 342px;
}

.inner_bg_product_div_2{
    height: 300px;
}

.inner_bg_product_div_3{
    height: 252px;
}

.inner_bg_product_div_4{
    height: 250px;
}

/*========inner pages==========*/



/*****************************/
/*********footer**************/

.footer_row{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #000a44;
    background-image:url('../images/footer_shape.png'), url('../images/footer_bg.png');
    background-repeat:no-repeat;
    background-size:contain;
    background-position:left center, right bottom;
}


.footer_logo_col {
    padding-left: 245px;
    padding-top: 135px;
}

.footer_logo_col p{
    color: #999899;
}

.footer_logo{
    width: 100px;
}

.footer_logo_2{
    width: 150px;
}

.footer_contact_div a{
    color: #ffffff;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.footer_contact_div a:hover{
    color: #14f78d;
}

.footer_row h3{
    font-size: 20px;
    color: #14f78d;
}

.footer_row p{
    margin-bottom: 5px;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.footer_row p:hover{
    color: #14f78d;
}

.tg_link a{
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.tg_link:hover a{
    color: #ffffff !important;
}

/*****************************/
/*********footer**************/

/*btn*/

.button {
  display: flex;
  align-items: center;
  padding: 10px 0px;
  position: relative;
  cursor: pointer;
  /* button */
  /* bg button */
}
.button .link {
  background-color: transparent;
  font-size: 16px;
  color: #ffffff;
  position: relative;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  border: 0;
  padding-left: 10px;
  left: 0;
  line-height: auto;
  overflow: hidden;
}
.button .link:before {
  content: "";
  background-color: #14f78d;
  width: 3px;
  height: 100%;
  position: absolute;
  z-index: 2;
  left: 0px;
  top: 0px;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}
.button .link:after {
  content: "";
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  background-color: transparent;
  position: absolute;
  border: solid 3px #14f78d;
  border-left: 0;
  border-bottom: 0;
  top: calc(50% - 7px);
  border-radius: 2px;
  transform: translateX(-42px) rotate(45deg);
  transition: all 0.3s 0.2s ease-in-out;
}
.button:before {
  content: "";
  background-color: transparent;
  width: 0;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0px;
  border-radius: 3px;
  transition: all 0.4s 0.3s ease-in-out;
}
.button:hover:before {
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0px;
}
.button:hover .link {
  padding-left: 50px;
}
.button:hover .link:before {
  left: 17px;
  transform: rotate(90deg);
}
.button:hover .link:after {
  transform: translate(-33px) rotate(45deg);
}

/*btn*/


/**********=========================================********************/
/**********===============SCROLL TOP=================********************/
/**********=========================================********************/

.scroll-top-wrapper {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    text-align: center;
    z-index: 99999999;
    background-color: #283992;
    color: #ffffff;
    width: 32px;
    height: 50px;
    line-height: 48px;
    right: 15px;
    bottom: 15px;
    padding-top: 2px;
    border-radius: 5px;
    border: 1px solid #283992;
    /*border-top-left-radius: 10px;*/
    /*border-top-right-radius: 10px;*/
    /*border-bottom-right-radius: 10px;*/
    /*border-bottom-left-radius: 10px;*/
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    animation: bounce_1 1s infinite alternate;
    -webkit-animation: bounce_1 1s infinite alternate;
}

@keyframes bounce_1 {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-15px);
    }
}
@-webkit-keyframes bounce_1 {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-15px);
    }
}

.scroll-top-wrapper:hover {
    background-color: #00a64e;
    color: #ffffff;
    border: 1px solid #00a64e;
}
.scroll-top-wrapper.show {
    visibility:visible;
    cursor:pointer;
    opacity: 1.0;
}
.scroll-top-wrapper i.fa {
    line-height: inherit;
}

.white_bg_div p {
    color: #000000 !important;
}


/**********=========================================********************/
/**********===============SCROLL TOP=================********************/
/**********=========================================********************/

/*========================================================================*/
/*========================================================================*/
/*=====================Solution by TEKGEEKS (pvt) LTD=====================*/
/*============DESIGN & CSS DEVELOPMENT - DUMIDU WIMALARATHNA==============*/
/*========================================================================*/
/*========================================================================*/