@charset "utf-8";
/* CSS Document */


/*==========  Non-Mobile First Method  ==========*/


/* Large Devices, Wide Screens */
@media only screen and (max-width : 7000px) {
	.mobile_inner_logo{
		display: none;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1920px) {

	.iner_nav_bar{
	    width: 1662px !important;
	}

	/*p{
		 line-height: 1.2vw;
	}*/

}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1536px) {

	/*p {
	    font-size: 1vw;
	    line-height: 1.8vw;
	    font-weight: 200;
	}*/

	.home_about_img {
	    width: 579px;
	}

	.home_about_text_col {
	    padding-left: 138px;
	    margin-top: -346px;
	}

	.award_text_section{
	    margin-top: 155px;
	}

	.navbar-fixed-top{
	  width: 1148px !important;
	}

	.product_div_text {
	    position: relative;
	    margin-top: -67px;
	}

	.profile_btn_div {
	    text-align: right;
	    margin-top: -20px;
	}

	.iner_nav_bar{
	    width: 1282px !important;
	}

}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1366px) {

	.navbar-fixed-top{
	  width: 1064px !important;
	}

	.home_about_img {
	    width: 475px;
	}

	.home_about_text_col {
	    padding-left: 60px;
	    margin-top: -276px;
	}

	.profile_btn_div{
	    text-align: right;
	    margin-top: -50px;
	}

	.iner_nav_bar{
	    width: 1108px !important;
	}

}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1280px) {

	.navbar-fixed-top {
	    width: 978px !important;
	}

	.inner_top_blue_section {
	    height: 288px;
	}

	.inner_top_bg_section {
	    height: 288px;
	}

	.iner_nav_bar{
	    width: 1036px !important;
	}

	.top_logo_2 {
	    width: 130px;
	}

	.footer_logo_2 {
	    width: 100px;
	}

	.footer_logo_col {
	    padding-top: 118px;
	}

}


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px) {

	/*p {
	    font-size: 1.3vw;
	    line-height: 1.8vw;
	    font-weight: 200;
	}*/

	.nav>li>a {
	    font-size: 12px;
	}

	.home_top_contact_div {
	    bottom: 20px;
	}

	.navbar-fixed-top {
	    width: 721px !important;
	}

	.home_about_img{
		display: none;
	}

	.home_about_text_col {
	    position: relative;
	    padding-left: 195px;
	    margin-top: 0px;
	    width: 100%;
	    padding-right: 195px;
	    margin-bottom: 50px;
	}

	.profile_btn_div {
	    text-align: right;
	    margin-top: -24px;
	}

	.product_item {
	    min-height: 180px;
	}

	.footer_row {
	    padding-top: 60px;
	    padding-bottom: 60px;
	    background-color: #000a44;
	    background-image: url(../images/footer_bg.png);
	    background-repeat: no-repeat;
	    background-size: contain;
	    background-position:right bottom;
	}

	.project_des_col {
	    margin-top: 25px;
	}

	.f_project_row {
	    min-height: auto;
	}

	.footer_logo_col {
	    padding-left: 25px;
	}

	.navbar-fixed-top {
	    width: 780px !important;
	}

	.inner_page_heading {
	    font-size: 26px;
	}

}


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1024px) {

	
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {

	.navbar-fixed-top {
	    width: 100% !important;
	    background:-moz-linear-gradient(-270deg, transparent 0px, #000a44 0px) !important;
    background:-o-linear-gradient(-270deg, transparent 0px, #000a44 0px) !important;
    background:-webkit-linear-gradient(-270deg, transparent 0px, #000a44 0px) !important;
    background:linear-gradient(-270deg, transparent 0px, #000a44 0px) !important;
	}

	.iner_nav_bar {
	    width: 750px !important;
	    background:-moz-linear-gradient(-235deg, transparent 70px, #000a44 71px) !important;
	    background:-o-linear-gradient(-235deg, transparent 70px, #000a44 71px) !important;
	    background:-webkit-linear-gradient(-235deg, transparent 70px, #000a44 71px) !important;
	    background:linear-gradient(-235deg, transparent 70px, #000a44 71px) !important;
	}
		
	.home_top_contact_div {
	    display: none;
	}

	.home_blue_shape_section {
	    position: absolute;
	    top: 0px;
	    width:auto;
	    background-image: none;
	    z-index: 9999999;
	}

	.top_logo {
	    width: 80px;
	    padding-left: 20px;
	    padding-top: 16px;
	}

	.award_text_section{
		margin-top: 0px;
		padding-top: 20px;
		margin-bottom: 0px;
	}

	.award_item_section{
	    position: relative;
	    margin-top: 0px;
	}

	.home_sub_news_main_col{
		margin-top: 120px;
		padding-left: 0px;
		padding-right: 0px;
	}

	.product_div{
		height: 250px;
	}

	.product_div_1{
		height: 250px;
	}

	.product_div_2{
		height: 250px;
	}

	.product_div_3{
		height: 250px;
	}

	.product_div_4{
		height: 250px;
	}
	
	.product_div_5{
		height: 250px;
	}

	.sub_news_arrow {
	    position: relative;
	    right: -40px;
	    bottom: 35px;
	}

	.club_elec_img {
	    top: -75px;
	}

	.project_des_col {
	    margin-top: 0px;
	}

	.footer_logo_col {
	    padding-left: 0px;
	}

	.f_project_slider_col {
	    padding-right: 15px;
	    margin-top30px;
	}

	#jarallax-container-0 {
	    display: none !important;
	}

	#jarallax-container-1 {
	    display: none !important;
	}

	.bg_row{
	    background-repeat:no-repeat;
	    background-size:cover;
	    background-position:center left;
	}

	.link_col{
		text-align: left !important;
	}

	.company_section {
	    padding-top: 20px;
	    padding-bottom: 50px;
	    background-image: none;
	    padding-left: 80px;
	    padding-right: 80px;
	}

	.customer_section {
	    padding-top: 20px;
	    padding-bottom: 50px;
	    background-image: none;
	    padding-left: 80px;
	    padding-right: 80px;
	}

	.detail_page_con .heading {
	    font-size: 27px;
	}

	.quality_section{
		padding-top: 50px;
	    padding-bottom: 50px;
	    background-image: none;
	    padding-left: 80px;
	    padding-right: 80px;
	}

	.career_section{
		padding-top: 50px;
	    padding-bottom: 50px;
	    background-image: none;
	    padding-left: 80px;
	    padding-right: 80px;
	}

	.contact_section{
		padding-top: 30px;
	    padding-bottom: 30px;
	    background-image: none;
	    padding-left: 80px;
	    padding-right: 80px;
	}

	.top_logo_2 {
		width: 100px;
	    padding-left: 0px;
	    padding-top: 20px;
	}

	.inner_page_heading_section {
	    left: 20px;
	}

	.profile_btn_div {
	    text-align: left;
	    margin-top: 20px;
	}


}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

	.manu_top_ul>li>a {
	    color: #ffffff !important;
	    font-size: 10px !important;
	}

	.nav>li>a {
	    font-size: 9px;
	}

	.inner_top_blue_section {
	    height: 233px;
	}

	.inner_top_bg_section {
	    height: 232px;
	}

	.iner_nav_bar {
	    width: 589px !important;
	    background: -moz-linear-gradient(-235deg, transparent 70px, #000a44 71px) !important;
	    background: -o-linear-gradient(-235deg, transparent 70px, #000a44 71px) !important;
	    background: -webkit-linear-gradient(-235deg, transparent 70px, #000a44 71px) !important;
	    background: linear-gradient(-235deg, transparent 70px, #000a44 71px) !important;
	}
	
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 767px) {

	.mobile_inner_logo{
		display: inherit;
		position: absolute;
		z-index: 999999999;
		width: 80px;
	    left: 20px;
	    top: 20px;
	}

	.inner_top_blue_section {
	    height: 233px;
	    width: 270px;
	}

	..top_logo_2{
		display: none;
	}

	.iner_nav_bar {
	    z-index: 9999999 !important;
	    width: 100% !important;
	    background:-moz-linear-gradient(-270deg, transparent 0px, #000a44 0px) !important;
	    background:-o-linear-gradient(-270deg, transparent 0px, #000a44 0px) !important;
	    background:-webkit-linear-gradient(-270deg, transparent 0px, #000a44 0px) !important;
	    background:linear-gradient(-270deg, transparent 0px, #000a44 0px) !important;
	}


	.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
	    max-height: 340px;
	    text-align: center;
	}

	.nav>li>a {
	    font-size: 13px;
	}

	.navbar-nav .open .dropdown-menu>li>a {
		font-size: 13px;
	    line-height: 17px;
	    text-align: center;
	    color: #ffffff !important;
	}

	.navbar-fixed-top{
		padding-right: 0px !important;
	}

	.navbar-right~.navbar-right {
	    margin-right: 0;
	    border-top: 1px solid transparent !important;
	}

	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	    border-color: transparent;
	}

	.mobile_home_top_social_icon {
	    position: absolute;
	    z-index: 99999999;
	    right: 68px;
	    top: 20px;
	}

	.navbar-toggle {
	    margin-top: 23px;
	}

	.navbar {
	    min-height: 80px;
	}

	.no_padding {
	    padding-right: 15px;
	    padding-left: 15px;
	}

	.home_about_text_col {
	    position: relative;
	    padding-left: 30px;
	    margin-top: 0px;
	    width: 100%;
	    padding-right: 30px;
	    margin-bottom: 50px;
	}

	/*p {
	    font-size: 15px;
	    line-height: 23px;
	    font-weight: 200;
	}*/

	.profile_btn_div {
	    text-align: right;
	    margin-top: 10px;
	}

	.product_devicec_div {
	    margin-top: 5px;
	}

	.main_news_slider_col {
	    position: relative;
	    border-radius: 5px;
	}

	.main_news_slider_col{
		margin-bottom: 20px;
	}

	.home_sub_news_main_col {
	    margin-top: 30px;
	    padding-left: 0px;
	    padding-right: 0px;
	}

	.sub_news_arrow {
	    position: relative;
	    right: -37px;
	    bottom: 55px;
	}

	.sub_news_col {
	    margin-right: 30px;
	}

	.footer_logo{
		display: block;
		margin-right: auto;
		margin-left: auto;
	}

	.footer_logo_col {
	    padding-top: 8px;
	}

	.footer_row {
	    text-align: center;
	    padding-top: 30px;
	    padding-bottom: 30px;
	}

	.spec_btn {
	    font-size: 11px;
	    padding: 15px 12px;
	    text-align: center;
	    text-transform: uppercase;
	    transition: 0.5s;
	    background-size: 200% auto;
	    color: white;
	    border-radius: 5px;
	    /* display: block; */
	}

	.button .link {
	    font-size: 13px;
	}

	.company_section {
	    padding-top: 20px;
	    padding-bottom: 50px;
	    background-image: none;
	    padding-left: 30px;
	    padding-right: 30px;
	}

	.customer_section {
	    padding-top: 20px;
	    padding-bottom: 50px;
	    background-image: none;
	    padding-left: 30px;
	    padding-right: 30px;
	}

	.detail_page_con .heading {
	    font-size: 24px;
	}

	.quality_section{
		padding-top: 50px;
	    padding-bottom: 50px;
	    background-image: none;
	    padding-left: 30px;
	    padding-right: 30px;
	}

	.career_section{
		padding-top: 50px;
	    padding-bottom: 50px;
	    background-image: none;
	    padding-left: 30px;
	    padding-right: 30px;
	}

	.contact_section{
		padding-top: 30px;
	    padding-bottom: 30px;
	    background-image: none;
	    padding-left: 30px;
	    padding-right: 30px;
	}

	.tech_info_section{
		padding-top: 30px;
	    padding-bottom: 30px;
	    background-image: none;
	    padding-left: 30px;
	    padding-right: 30px;
	}

	.indus_row{
		padding-top: 30px;
	    padding-bottom: 30px;
	    background-image: none;
	    padding-left: 30px;
	    padding-right: 30px;
	}

	.tech_text_row{
	    background-image: none;
	    padding-left: 30px;
	    padding-right: 30px;
	}

	.inner_product_div {
	    height: 250px;
	}

	.inner_product_div_1{
		height: 250px;
	}

	.inner_product_devicec_div {
	    margin-top: 0px;
	}

	.club_elec_img{
		display: none;
	}

	.club_intro_div {
	    text-align: right;
	    padding: 30px 30px;
	    padding-right: 30px;
	    background-color: #ffffff;
	    border-radius: 5px;
	    margin-top: 20px;
	}

	.sub_heading {
	    font-size: 18px;
	    line-height: 25px;
	}
	
	.inner_product_div_2 {
        height: 248px;
	}


}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

	.top_logo_2 {
	    width: 80px;
	    padding-left: 0px;
	    padding-top: 20px;
	}

	.product_item {
	    min-height: 200px;
	}



}

/* Custom, iPhone Retina */
@media only screen and (max-width : 375px) {

	.product_item {
	    min-height: 165px;
	}

}


/* Custom, iPhone Retina */
@media only screen and (max-width : 360px) {



}


@media only screen and (max-width : 320px) {



}