.navbar-fixed-top{
  right: 0px;
  width: 1424px;
  left: auto;
  background-color: transparent;
  border-bottom: transparent;
  padding-right: 15px;
  background:-moz-linear-gradient(-235deg, transparent 70px, #000a44 71px);
    background:-o-linear-gradient(-235deg, transparent 70px, #000a44 71px);
    background:-webkit-linear-gradient(-235deg, transparent 70px, #000a44 71px);
    background:linear-gradient(-235deg, transparent 70px, #000a44 71px);
}

/*.navbar-fixed-top:after {
    content: " ";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: #000a44;
    transform-origin: bottom left;
    -ms-transform: skew(-37deg, 0deg);
    -webkit-transform: skew(-37deg, 0deg);
    transform: skew(-37deg, 0deg);
}*/

.manu_top_ul{
  margin-right: 0px !important;
}

.manu_top_ul>li>a {
    color: #ffffff !important;
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 5px;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.manu_top_ul>li>a:hover {
    color: #14f78d !important;
}

.manu_top_ul>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #14f78d;
    font-weight: 900;
    background-color: transparent;
}

.navbar-default .navbar-nav>li>a {
    color: #14f78d;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #ffffff;
}

.navbar-right~.navbar-right {
    margin-right: 0;
    border-top: 1px solid #ffffff;
}

.navbar-default>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 7px;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #ffffff;
    background-color: transparent;
}

.navbar-nav>li>.dropdown-menu{
  background-color: #00a64e;
}

.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #ffffff;
    white-space: nowrap;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.dropdown-menu>li>a:hover {
    background-color: #000a44;
    color: #ffffff;
}